
/*--- Media Adaptive for devices --*/

@media screen and (max-width: 1199.98px) {
	.menu__list a {padding: 0 10px 37px;}

	.offer__title {line-height: 1.3em;}

	.help-info {
		text-align: start;
		width: 50%;
		padding: 0;
		margin-bottom: 20px;
	}
	.call-picture {right: -5%;}

	.poss {width: 63%;}

	.poss__title {left: -92%;}

	.inform {
		text-align: center;
		padding: 35px;
	}

	.inform__text {
		font-size: 33px;
		max-width: 100%;
		padding: 0 40px;
	}

	/*--- About file --*/
	.why {margin-top: -10px;}

	.why__text {margin-bottom: 5px;}

	.director {
		margin: 40px auto;
		left: auto;
	}
}

/* 768 - 992 px */
@media screen and (max-width: 991.98px) {
    /*--- Index file --*/
    .menu__btn {display: block;}
    .menu{
        width: 100%;
        height: 110vh;
        padding-bottom: 90px;
        background-color: white;
        border: 1px solid #00CCFF;
        border-radius: 5px;
        position: fixed;
        top: 75px;
        right: -1720px;
        transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 5;
    }

    .menu.animate{right: 0;}

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .5s;
    }

    .menu__list a {
        font-weight: 700;
        font-size: 20px;
        padding: 20px 0;  
    }

    .menu__list li:hover {
        background-color: #00CCFF;
        text-align: center;
        width: 100%;
    }

    .menu__list a::after {
        margin-top: 0;
        display: none;
    }

    .menu__list a:hover {color: #fff; }

	.back {padding-bottom: 378px;}

	.help {padding-top: 73px;}

	.help-info__bat_up {display: none;}

	.help-info__bat_down {
		display: block;
		margin: 60px auto 0;
	}

	.help:after {
		height: 37%;
		top: 25%;
	}

	.desc {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.desc__card {margin-top: 25px;}

	.case {padding: 5px 0 90px;}

	.case-info {width: 100%;}

	.tablet{margin-top: 30px;}

	.calls {overflow: hidden;}

	.wrap {
		position: absolute;
		bottom: -122px;
		left: -185px;
	}

	.call {
		text-align: center;
		padding: 10px;
		margin: 0 auto;
	}

	.call-picture__img {display: none;}

	.call-picture:before {
		content: url(../img/decor1.png);
		position: absolute;
		top: -286px;
		right: -201px;
	}

	.news {padding: 100px 0 15px;}

	.preview__news {padding: 187px 23px 24px 33px;}

	.preview__date {
		right: 0;
		top: 55px;
	}

	.slogan {align-self: start;}

	.footer-contact {margin-left: 90px;}

	.footer-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	.footer-form{margin-top: 40px;}

	.footer-form__input {margin-right: 30px;}

	/*--- About file ---*/
	.choice {padding: 50px 0 90px;}

	.for-you__image {
		height: 300px;
		width: 100%;
		object-fit: cover;
	}
	.why {margin-top: 40px;}

	.why__info {margin-bottom: 20px;}

	.why__text {margin-bottom: 24px;}

	.mount {padding: 50px 0 50px;}

	.round {width: 60%;}

	.round__text {margin-bottom: 50px;}

	.team {margin: 40px auto 90px;}

}

/* 576 - 768 px */
@media screen and (max-width: 767.98px) {
	/*--- Index file --*/
    .menu-call {
        display: block;
        margin: 40px auto;
    }

	.back {padding-bottom: 260px;}

	.offer__text {
		font-size: 17px;
		margin-bottom: 15px;
	}

	.offer__title {
		font-size: 30px;
	}

	.title {
		font-size: 21px;
	}

	.text {
		font-size: 36px;
	}

	.help:after {
		top: 18%;
	}

	.help-info__text_about {
		font-size: 17px;
	}

	.desc {
		flex-direction: column;
		align-items: center;
	}

	.help-info {
		width: 100%;
	}

	.tablet {
		flex-direction: column;
	}

	.tabs:first-child {
		border-radius: 5px 5px 0 0;
	}

	.tabs:last-child {
		border-radius: 0 0 5px 5px;
	}

	.tabs:not(:last-child):after {
		transform: rotate(270deg);
		right: 50%;
		top: 53%;
		height: 100%;
	}

	.tabs {
		width: 100%;
	}

	.poss {
		width: 95%;
		margin: 40px auto;
	}

	.poss:after {
		left: auto;
		top: -6%;
		right: -4%;
	}

	.poss__title {
		font-size: 22px;
		position: static;
		color: #fff;
	}

	.calls {
		padding: 70px 0;
	}

	.call {
		max-width: 379px;
		padding-bottom: 35px;
	}

	.call__title {
		font-size: 22px;
	}

	.call:before {
		bottom: -200px;
		left: -250px;
	}

	.call__decor {
		bottom: -53%;
		left: -49%;
	}

	.preview__block {
		max-width: 354px;
		box-shadow: 0 5px 30px rgba(206, 218, 228, 0.6);
		border-radius: 2px;
		margin: 50px auto 0;
		padding: 0;
	}

	.preview__news {
		padding: 20px;
		box-shadow: none;
	}

	.preview__overlay {
		position: relative;
	}

	.preview__img {
		width: 354px;
		height: 190px;
	}

	.preview__title {
		margin-top: 20px;
	}

	.preview__date {
		top: 5%;
		right: 0;
	}

	.footer-wrap {
		flex-wrap: wrap;
	}

	.footer-form__input {
		 margin-right: 0;
	}

	/*--- /Index file end --*/

	/*--- About file ---*/

	.for-you__image {
		height: 100%;
	}

	.round__text {
		margin-top: 10px;
	}

	.round {
		width: 50%;
	}

	/*--- /About file end ---*/

	/*--- Services file ---*/

	.service {
		margin: 40px auto;
	}

	/*--- /Services file end ---*/

	/*--- Review file ---*/

	.client {
		text-align: center;
		align-items: center;
		flex-direction: column;
		margin: 40px auto;
		padding: 65px 10px;
	}

	.client__desc {
		left: auto;
	}

	.client__img {
		width: 168px;
		height: 172px;
	}

	.client__title {
		margin-bottom: 20px;
	}

	.client__link {
		width: 28px;
		height: 28px;
		line-height: 28px;
		right: 5%;
		bottom: -18px;
	}

	/*--- /Review file end ---*/

	/*--- Contact ---*/

	.container-fluid_absolute {
		position: static;
	}

	.window__form {
		max-width: 98%;
		padding: 40px auto;
	}

	.window__title {
		font-size: 20px;
	}

	.input__title {
		margin-top: 20px;
	}

	.window__text {
		font-size: 14px;
		margin-top: 15px
	}

}

/* 320 - 576 px */
@media screen and (max-width: 575.98px) {

	/*--- Index file ---*/

	.call__decor {
		bottom: -54%;
		left: -61%;
	}

	.tabs:after {
		width: 10px;
		top: 0;
	}

	.footer-contact {
		margin-left: 0;
	}

	.footer-menu {
		margin-bottom: 20px;
		margin-right: 40px;
	}

	/*--- /Index file end ---*/

	/*--- About file ---*/

	.breadcrumbs {
		flex-direction: column;
		align-items: start;
	}

	.breadcrumbs__title {
		margin-bottom: 10px;
	}

	.director {
		width: 80%;
		padding: 35px 15px 97px 44px;
		left: 8%;
	}

	.director__img {
		left: -24%;
	}

	.team__info {
		width: 100%;
	}

	/*--- /About file end ---*/

	/*--- Services file ---*/

	.service {
		max-width: 346px;
	}

	.service__bat {
		width: 60%;
		padding: 8px 0;
		text-align: center;
	}

	.connect{
		padding: 28px 40px 28px 5px;
	}

	.window__form {
		padding: 25px;
	}

}





